<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0"
    android:installLocation="auto"
    android:debuggable="true"
    android:extractNativeLibs="true">
    <!-- OpenGL ES 2.0 used via SDL_Renderer -->
    <uses-feature android:glEsVersion="0x00020000" />
    <!-- Touchscreen (required by the game) -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="true" />
    <!-- Gamepad / keyboard are optional extras -->
    <uses-feature
        android:name="android.hardware.gamepad"
        android:required="false" />
    <!-- Vibration for haptic feedback if ever needed -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:allowBackup="true"
        android:hardwareAccelerated="true">
        <!--
            PlanetBlupiActivity extends SDLActivity so that we can customise the
            application name / package while reusing the full SDL3 Java glue.
        -->
        <activity
            android:name=".PlanetBlupiActivity"
            android:label="@string/app_name"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape"
            android:configChanges="layoutDirection|locale|orientation|uiMode|screenLayout|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@style/AppTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
